@import './reset.less';

:root {
  font-family: sans-serif;
}

body {
  display: flex;
  background: lightgray;
  flex-direction: column;
  header {
    flex-grow: 0;
    flex-shrink: 0;
    background: lightblue;
    padding: 1em;
    height: 3em;
    box-sizing: border-box;
  }
  .application {
    flex-grow: 1;
    flex-shrink: 1;
    background: pink;
    height: calc(100% - 3em);
  }
}

.application {
  display: flex;
  flex-direction: row;

  .selection {
    border: 1px dashed black;
    width: 25em;
    box-sizing: border-box;
  }

  .workspace {
    width: 35em;
    box-sizing: border-box;
    padding: 1em;
    background: lightgreen;
  }

  .map {
    background: darkgray;
    color: lightgray;
    flex-grow: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 3em;
  }
}

.selection {
  display: flex;
  flex-direction: column;

  .focus {
    padding: 1em;
    background: white;
  }

  .list {
    background: orange;
    padding: 1em;
    flex-grow: 1;
    overflow-y: auto;
  }
}

.list {
  li {
    margin-bottom: 2em;
  }

}
